{
  "env": {
    "server": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src/server"]
        }]
      ]
    },
    "client": {
      "presets": [
        "react"
      ],
      "plugins": [
        ["module-resolver", {
          "root": ["./src/client"],
        }]
      ]
    }
  },
  "presets": [
    ["es2015"]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}
